p {
    text-align: center;
    color: green;
    font-size: 200px;
}
body {
    background-color: black;
    margin: 0;
}

button {
    width: 100px;
    height: 50px;
    background-color: lime;
    border-radius: 20%;
    color: red;
    cursor: pointer;
}